.character {
  /* Fill the available container height */
  height: 100%;
  position: relative;
  left: 100%;
  transform: translateX(-100%);
}

@media (max-width: 768px) {
  .character {
    left: 50%;
    transform: translateX(-50%);
  }
}
