.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
}

.maxWidthWrapper {
  position: relative;
  z-index: 1;
}

.header {
  padding-bottom: 64px;
  width: 65%;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  position: fixed;
  top: 100px;
  right: 0px;
  left: 0px;
  margin: 0 auto;
  min-height: 500px;
  height: calc(100% - 160px);
  max-width: 1024px;
}

.controlColumn {
  width: 50%;
}

.perspectiveDecoration {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: hsl(195deg, 20%, 86%);
  pointer-events: none;
}

@media (max-width: 768px) {
  .characterEditor {
    padding-top: 40px;
    padding-bottom: 32px;
    overflow-x: hidden;
  }

  .characterWrapper {
    position: relative;
    top: -16px;
    min-height: 400px;
    height: 60vh;
  }

  .header {
    width: 100%;
    padding-bottom: 32px;
  }

  .title {
    font-size: 2rem;
  }

  .description {
    font-size: 1rem;
  }

  .controlColumn {
    width: 100%;
    padding-right: 64px;
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 16px;
    bottom: max(-420px, -75vh);
    overflow-x: scroll;

    -webkit-overflow-scrolling: touch;
    touch-action: pan-x;
    overscroll-behavior: contain;
    scrollbar-width: thin;
  }
}
