.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
}

.header {
  padding-bottom: 64px;
  width: 65%;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  position: fixed;
  top: 100px;
  right: 0px;
  left: 0px;
  margin: 0 auto;
  min-height: 500px;
  height: calc(100% - 160px);
  width: 1024px;
}

.controlColumn {
  width: 50%;
}
